
/* hero */

@media (max-width: 800px) {

    div.hero {
        flex-direction: column;
    }
    div.hero img{
        order:1;
        
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px ;
        margin-bottom: 10px ;
       
        
    }
    div.hero div.text-area{
        order: 2;
        width: 100% !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px ;
        margin-bottom: 10px ;
    }
}


div.hero {
    display:  flex;
    justify-content: center;
    align-items: center;
   
}

div.hero img {
    width: 50%;
    height: auto;
    min-width: 250px;
    max-width: 400px;
    margin-right: 10px;
    margin-left: 10px;
}



div.text-area{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

div.text-area .title{
    display: flex;
    flex-wrap: wrap;
    /* font-weight: bolder; */
    /* font-size: larger; */
    margin: 10px;
    
}


div.text-area .text{
    display: flex;
    flex-wrap: wrap;
    white-space: pre-line;
    min-width: 250px;
    margin: 10px;
}

div.hero div.text-area .link{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px !important;
    color: var(--primary-dark);
    margin: 10px;
}

div.hero .hero-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

