/* Price Tracker */

@media (min-width: 1200px) {
    .pricetracker-inputcard{
        width: 400px !important;
    }
}

@media (max-width: 770px) {
    .pricetracker-fullpage{
        flex-direction: column;
    }

    .pricetracker-inputcard{
        order: 1;
        position: relative !important;
        
        width: 85% !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
    .pricetracker-mytrackers{
       order: 2;
        margin-top: 60px !important;
        margin-left: 0% !important; 
        margin-left: auto !important;
        margin-right: auto;
        width: 85% !important;
    }
    .pricetracker-mytrackers-row{
        
        gap: 20px;
    }

    .pricetracker-mytrackers-delete{
        margin-left: 0 !important;
    }

    .pricetracker-mytrackers-header{
        margin-left: 30px !important;
        
    }
    
}

.pricetracker-fullpage{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.pricetracker-inputcard{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    width: 300px;
}

.pricetracker-mytrackers{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.pricetracker-mytrackers-header{
    margin-bottom: 30px !important;
    
}

.pricetracker-tracker{
    display: flex;
    flex-direction: column;
}

.pricetracker-mytrackers-row{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.pricetracker-mytrackers-img{
    width: 100px;
    height: auto;
}

.pricetracker-mytrackers-img-link{
    
}

.pricetracker-mytrackers-url{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pricetracker-mytrackers-delete{
    display: flex;
    margin-left: 10px;
    cursor: pointer;
}

.pricetracker-mytrackers-delete :hover{
   
    color: rgb(255, 34, 34);
}

.pricetracker-inputcard-submit{
    margin-top: 4px;
}

