/* Price Tracker */



@media (max-width: 770px) {

    .pricetracker-fullpage-wrapper{
        height: 100% !important;
    }
    .pricetracker-fullpage{
        flex-direction: column;
        margin-top: 0px !important;
        margin-bottom:0px !important
    }

    .fixed-navbar{
        position: relative !important;
        width: unset !important; 
    }
    .fixed-footer{
        position: relative !important;
    }
    .fixed-footer-brand{
        padding-left: 0px !important;
    }
    .fixed-footer-links{
        margin-left: 2em !important;
    }

    .pricetracker-inputcard{
        margin: 50px auto;
        order: 1;
        margin-left: auto !important;
        position: relative!important;
        width: 95%!important;
        
    }
    .pricetracker-mytrackers{
        margin-left: auto!important;
        margin-right: auto;
        margin-top: 60px!important;
        order: 2;
        width: 95%!important;
        margin-bottom: 0px !important
    }
    .pricetracker-mytrackers-info{
        
    }

    .pricetracker-mytrackers-delete{
        /* margin-left: 0 !important; */
    }

    .pricetracker-mytrackers-header{
        margin-left: 30px !important;
        
    }
    
    .pricetracker-tracker{
        padding: 7px !important;
    }
    
    
}

/* navbar fixed only on pricetracker page */
.fixed-navbar{
    /* background-color: rgb(244, 211, 211); */
    position: fixed;
    width: calc(100% - 40px);
    backdrop-filter: blur(10px);
    background-color: unset !important;
    /* border-radius: 20px;
    top: 5px; */
}
.fixed-footer{
    position: fixed;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color:unset !important;
    backdrop-filter: blur(10px);
    /* margin-top: 70px; */
}
.fixed-footer-brand{
    padding-left: 2em;
}

.fixed-footer-links{
    padding-right: 2em !important;
}

.pricetracker-fullpage-wrapper{
    height: 100vh;
}
.pricetracker-fullpage{
    display: flex;
    gap: 5%;
    justify-content: end;
    /* margin-right: 5%; */
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 70px;
}

.pricetracker-fullpage-loading{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.pricetracker-fullpage-loading-wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.pricetracker-inputcard{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    row-gap: 20px;
    justify-content: center;
    height: 74%;
    margin-left: 50px;
    /* margin-right: 1%; */
    width: 40%;
}

.pricetracker-mytrackers{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 70px;
    width: 45%;
}

.pricetracker-mytrackers-header{
    margin-bottom: 30px !important;
    
}

.pricetracker-tracker{
        display: flex;
    padding: 15px;
        overflow: hidden;
    /* border: 1px solid #d8d9d8; */
    background: white;
    border-radius: 20px;
    margin: 1px;
    color: #000000;
    flex-direction: column;
}

.pricetracker-mytrackers-info{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.pricetracker-mytrackers-title{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5em ;
    word-wrap: break-word;
    max-height: 2.5em;
    line-height: 1em;
}

.pricetracker-mytrackers-price{
    padding-top: 0.5em ;
    padding-bottom:0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

.pricetracker-mytrackers-graph{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 100px;
    justify-content: space-between;
}

.pricetracker-mytrackers-img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.pricetracker-mytrackers-img-wrapper{
    /* width: 100px; */
}

.pricetracker-mytrackers-img-link{
    width: 100px;
    display: flex;
    justify-content: center;
}

/* .pricetracker-mytrackers-url{
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.pricetracker-mytrackers-delete{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* delete confirmation dialog background */
#pricetracker-delete-dialog .MuiBackdrop-root{
    backdrop-filter: blur(5px);
}

.pricetracker-mytrackers-delete :hover{
   
    color: rgb(255, 34, 34);
}

.pricetracker-inputcard-submit{
    margin-top: 4px;
}

