/* Users */

@media (max-width: 700px) {
    div.users{
        
    }
    
}


div.users{
    display: flex;
    flex: 5;
    justify-content: center;
    flex-direction: column;;
   
    background-color: var(--primary-light);
    border-radius: 20px;
    margin: 5px;
}

div.users .page-title{
    margin: 20px;
    color: var(--secondary-color);
}

div.users img.datagrid-mini-avatar{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
div.users div.datagrid-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


div.users div.MuiDataGrid-cell--withRenderer{
    justify-content: center;
}

div.users-pannel{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

div.users div.MuiDataGrid-root{
    border: none;
}


    

