
/* card */

@media (max-width: 800px) {

    div.card {
        width: initial !important;
    }
   
    div.card img{
        display: flex;
        /* justify-content: center; */

        min-width: 300px !important;
  
     }
}

div.card {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 33.3%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.card i{
    font-size: 4em;
}

div.card img{
    display: flex;
    /* justify-content: center; */
    width: 95%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
 }


div.text-area{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

div.text-area .title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    height: 50%;
    
}

div.text-area .text{
    display: flex;
    flex-wrap: wrap;
    white-space: pre-line;
    min-width: 100px;
    margin: 10px;
    height: 50%;
}

div.text-area .link{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

