 
@media (max-width: 800px) {
    div.main div.features-row{
        flex-direction: column;
        width:auto !important;
    }

    div.landingPage .title {
     color:var(--primary-light) !important;
      font-size: xx-large !important;
     margin-bottom: 80px;
     color:red;
   }

    div.landingPage .text {
        margin:0px !important;
      }

    div.landingPage .background{
      height:100% !important;
    }

    div.landingPage {
      height:auto !important;
    }
}

@media (min-width: 900px) {
    div.landingPage div.hero img {
        max-width: 700px !important;
    }
}

div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Landing Page */

div.landingPage{
    display: flex;
    align-items: center;
    height: calc(100dvh - 101px);
    overflow: hidden;
    justify-content: center;
    color: var(--primary-light);
    padding-bottom: 30px;
    background: linear-gradient(to bottom, var(--secondary-color), var(--primary-dark),var(--primary-color));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2em);
}

div.main div.landingPage .hero{
    width:85%;
}

div.landingPage .title {
  color:var(--primary-light) !important;
   margin-bottom: 30px !important;
   font-size: xxx-large;
}



div.landingPage .background{
    position: absolute;
    background-color: var(--primary-color);
    height: calc(100dvh - 101px);
    width: 100%;
    z-index:-1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/* 2 Features */

div.main .main-features{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.main div.features-row{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 div.main .link a{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: var(--primary-dark) ;
 }

 