/* home */

@media (max-width: 700px) {
    div.home div.sidebar{
        display: none ;
        height: 100%;
        border: 1px solid lightgrey;
    }

    div.home div.sidebar-toggle{
        display: flex !important;
    }
    
}
@media (min-width: 700px) {
    div.home div.sidebar{
        position: relative !important
    }

}

div.home{
    display: flex;
    flex: 1;
}

    
div.home div.sidebar{
    /* display: flex; */
    width: 200px;
    flex-direction: column;
    padding: 20px;
    background: white;
    margin: 5px;
    z-index: 1;
    border-radius: 10px;
    
}

div.home div.sidebar-toggle{
    display: none;
    z-index: 2;

    padding: 5px;
    margin: 5px;
    height: fit-content;
    cursor: pointer;
}

div.home .sidebar-section{
    color: var(--secondary-color);
    font-weight: 500;
}

div.home button.sidebar-button{
    display: flex;
    margin-left: 20px;
    justify-content: start;
    color: var(--primary-text-light);
    align-items: initial;
    width: 90%;
}

div.home button.sidebar-nestedButton{
    display: flex;
    margin-left: 20px;
    justify-content: start;
    color: var(--primary-text-light);
    flex:1;

    animation: .2s ease-out slideDown;

}

@keyframes slideDown {
    0% {
       
        transform: translateY(-20px);
    } 
    100% {
        
        transform: translateY(0);
    }
}


div.home div.sidebar-dataList{
    display: flex;
    margin-left: 25px;
    
}

.active{
    
    background-color: var(--primary-light) !important
    
}