/* home */

@media (max-width: 700px) {
    
    
}



div.home{
    display: flex;
    flex: 1;
}
    
div.home div.home-main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: red;
    border: 1px solid red;
}

div.home div.home-main-panel{
    display: flex;
    padding: 40px;
    max-width: 500px;
    height: 500px;
    background-color: rgb(164, 164, 164);
}

div.home div.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
    
    
}

div.home div.space{
    height: 20px;
}

div.home div.sidebar-username{
    margin-top: 5px;
    margin-bottom:5px;
    align-self: center;
    text-align: center;
}

div.home img.sidebar-profilepicture{
       display: flex;
    object-fit: cover;
    height: 80px;
    /* max-height: 250px; */
    width: 80px;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
    background-size: cover;
    align-self: center;
}

.wrap-img {
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position:relative;
    cursor: pointer;
}

.wrap-text{
    display:flex;
    align-self:center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: var(--secondary-text);
    color: white;
    margin:15px;
    font-size: smaller;
    transition: 0.3s;
}

.bi-pencil-square{
    width: 100%;
    font-size: large;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    margin: 0px;
}

.upload-progress{
    display: flex;
    align-self: center;
    position:absolute;
    background-color: var(--secondary-text);
    color: white;
    border-radius: 6px;
    padding: 3px;
    font-size: smaller;
}

.wrap-img:hover .wrap-text{
    visibility: visible;
    transition: 0.3s;
    opacity: 0.8;
}

