
div.summaryCard{
    display: flex;
    flex-direction: column;

    border-radius: 3%;
    padding: 10px;
    cursor: pointer;
    
}

div.textArea{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

div.summaryCard img{
    width: 278px;
}

div.title{
    font-weight: bold;
}

div.summary{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.separator{
    border-bottom: 1px solid;
    margin: 20px;
}