
@media (max-width: 700px) {
    
    div.post{
        display: flex !important;
        flex-direction: column;
        width: 300px !important;
        padding-left: 20px !important;
    }
    
    div.post figure{
        display: flex !important;
        flex-direction: column;
        width: 300px !important;
        margin:0px !important;
        border-radius: 3%;
        justify-content: center;
    }
    div.post img{
        display: flex;
        
        width: 300px !important;
        margin:0px !important;
        border-radius: 3%;
    }
    div.post p{
        display: flex;
    }

}

div.post.dark a{
    color:#c39de7
}

div.post img{
    width:500px;
    border-radius: 3%;
}

div.post{
    display: block;
    margin-left: auto;
    padding-left: 50px;
    margin-right: auto;
    width: 600px;
}

div.post figure{
    text-align: center;
}