
@media (max-width: 700px) {
    
    div.blog{
        flex-direction: column;
    }

    div.posts{
        width: auto !important;
    }

    div.post{
        display: flex !important;
        flex-direction: column;
    }
    
    div.post figure{
        
        margin:0px !important;
        border-radius: 3%;
        justify-content: center;
    }
    div.post img{
        margin:0px !important;
    }
    

}

div.post.dark a{
    color:#c39de7
}

div.post img{
    display: flex;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 1%;
}

div.blog{
    display: flex;
    width: 100%;
}

div.posts{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 300px;
    height: 100%;
    margin: 20px;
}



div.mainArticle{
    display: flex;
    justify-content: start;
    width: 100%;
}

div.post figure{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:0px;
}