


.card {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 240px;
    height: 350px;
    position: relative;
    box-shadow: 5px 5px 10px  rgba(36, 36, 36, 0.315);
}

.card:hover .card--info {
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}
.card:hover .card--delete{
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}

.card:hover{
  box-shadow: 10px 10px 15px rgba(36, 36, 36, 0.315);
}

img.card--info-img{
    height: 100%;
    object-fit: cover;
    margin-bottom: 62px;
 }

 .card--info {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 17%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    
    color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
 }
 
 span.card--delete{
   display: flex;
   position:absolute;
   visibility: hidden;
   opacity: 0;
   right: 0;
   color: white;
   padding: 6px;
   
 }

 span.card--stats { 
     margin-right: 10px;
     margin-left: 10px;
     display: flex;
     align-items: center;
    }

  i {margin-right: 10px;}
 
  img.card--profile--img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 15px;
  }

  .card--profile {
    background-color: #f4f7ff;
    
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    
 }

 .card--profile--text{
    margin-right: auto;
 }

  h2.card--profile--text--h2 {
   color: #334454;
   white-space: nowrap;
   font-size: 1rem;
   margin-bottom: 2px;
   overflow: hidden;
   max-width: 150px;
  }

  p.author {
   color: #a1b2bc;
   white-space: nowrap;
   overflow: hidden;
   max-width: 150px;
   font-size: 0.8rem;
   margin-top: 3px;
  }
  p b {
   font-style: italic;
  }
 

