@media (max-width: 640px) {
    
    
  }


div.dark{
    background-color: #21222A;
    color: white;
}

div.home{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

div.sidebar{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height:100%;
    width: 200px;
}


div.sidebar-username{
    margin-top: 5px;
    margin-bottom:5px;
    align-self: center;
    text-align: center;
}

img.sidebar-profilepicture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    align-self: center;
}

div.home-main{
    width: 100%;
}


.wrap-img {
    display:flex;
    align-self: center;
    text-align: center;
    position:relative;
    cursor: pointer;
}
.wrap-text{
    position:absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 3px;
    bottom: 30%;
    font-size: smaller;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.upload-progress{
    position:absolute;
    background-color: black;
    color: white;
    border-radius: 6px;
    left: 30%;
    padding: 3px;
    bottom: 30%;
    font-size: smaller;
}

.wrap-img:hover .wrap-text{
    visibility: visible;
    opacity: 1;
}
