newcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

newcard > h1{
    width: 400px;
}

.newcard--input{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    
}

.cardPreview{
    margin-left:40px
}