.cards-list::-webkit-scrollbar {
    
    height: 0.7em;
    
}
.cards-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(209, 209, 209, 0.3);
}
.cards-list::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);
  outline: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

img {  
    -webkit-user-drag: none;  
    user-select: none;
}

input {
    border: 1px solid grey;
    outline: none;
}

html, body{
    margin: 0;
}

.root{
    height: 100vh;
}

.website{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-between;
    justify-content: space-between;
}

/*** Dark Mode ***/

body.dark{
    background-color: #000000;
    color:white;
}

.website.dark {
    background-color: #000000;
    color:white;
}
/* Navbar */
nav.dark {
    background-color: #000000;
    box-shadow: 0px 1px 4px rgba(249, 249, 249, 0.694);
    color:white;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

div.dark{
    background-color: #000000;
    color: white;    
}

/* FeatureCards */
feature.dark {
    background-color: #000000;
    color: white;    
}

.card--profile.dark{
    background-color: #f1f1f1;
} 

/* Home */
div.sidebar.dark{
    background-color: #000000!important;
    color: white;  
}

/* Footer */
footer.dark {
    background-color: #000000;
    color: white;    
}

