 
 @media (max-width: 800px) {

    div.landingPage{
    }

    div.main div.features-row{
        flex-direction: column;
     }

}

div.landingPage{
    display: flex;
    align-items: center;
    height: 90vh;

    background-color: darkslategrey;
    color: rgb(239, 239, 239);
}

div.hero .dark{
    background-color: darkslategrey;
}

div.landingPage div.hero{
    width: 75%;
    background-color: darkslategrey !important;
}

div.main div.features-row{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 div.main .link{
    display: flex;
    justify-content: center;
 }

 