 
 @media (max-width: 800px) {

    div.landingPage{
    }

    div.main div.features-row{
        flex-direction: column;
     }

}

div.landingPage{
    display: flex;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    
    color: rgb(239, 239, 239);
}

div.landingPage .background{
    position: absolute;
    background-color: var(--primary-dark);
    height: 90vh;
    width: 100%;
    z-index:-1;
    -webkit-filter: blur(5px);
    filter: blur(2px);
}
div.hero .dark{
    background-color: darkslategrey;
}

div.landingPage div.hero{
    width: 75%;
}

div.main div.features-row{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 div.main .link{
    display: flex;
    justify-content: center;
 }

 