
@media (max-width: 700px) {
    
    div.blog{
        flex-direction: column;
    }

    div.blog-posts{
        width: auto !important;
        min-width:unset !important;
        max-width: unset !important;
    }

    div.blog-mainArticle{
        display: flex;
        justify-content: start;
        width: 100% !important;
    }
    
   
}


div.blog{
    display: flex;
    width: 100%;
}

div.separator{
    border-bottom: 1px solid;
    margin: 20px;
}

div.blog-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 100px;
    height: 100%;
    margin: 20px;
}

.blog-posts-title{
    display: flex;
    align-self: self-start ;
    /* font-size: large; */
    /* font-weight: bold; */
}

.blog .up-floating-icon{
    position: fixed;
    bottom: 70px;
    right: 70px;
}

div.blog-mainArticle{
    display: flex;
    justify-content: center;
    flex: 1;
}

div.blog .reading-progress{
    width: 100%;
    height: 5px;
    position: fixed;
    bottom:0px;
}

