/* Dashboard */

@media (max-width: 700px) {
   
    
}


div.home div.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 20px;
    margin: 5px;
}

div.dashboard div.widget{
    width: 300px;
    height:150px;
    background-color: white;
    border-radius: 30px;
    padding-bottom:50px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    
}



div.widget .widget-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.widget .widget-title{
    display: flex;
    color: var(--primary-color);
    margin-top: 20px;
    margin-left: 20px;
    
}
div.widget .widget-year{
    display: flex;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
    margin-right: 20px;
    
}

