/* Dashboard */

@media (max-width: 700px) {
    div.home div.dashboard{
        flex-direction:column;
    }
    
    div.dashboard div.widget{
        width:90% !important;
    }

    div.dashboard div.mini-widget{
        width:90% !important;
    }
   
    
}


div.home div.dashboard{
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    border-radius: 20px;
    margin: 5px;
}

div.dark div.home div.dashboard{

    background-color: black;

}


div.dashboard div.widget{
    width: 300px;
    height:150px;
    background-color: white;
    border-radius: 30px;
    padding-bottom:50px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    
}

div.dashboard div.mini-widget{
    width: 200px;
    height:200px;
    margin: 30px;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    
}

div.dashboard .mini-widget-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22px;
    align-items: center;
}

div.dashboard .mini-widget-icon{
    display: flex;
    color: var(--primary-color);
    font-size: 50px;
    margin: 5px;
}

div.dashboard .mini-widget-title{
    display: flex;
    font-weight: bold;
    color: var(--primary-color);
  
}

div.dashboard .mini-widget-data{
    display: flex;
    font-weight: bold;
    color: var(--primary-color);
    justify-content: center;
  
}

div.dashboard .widget-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.dashboard .widget-title{
    display: flex;
    color: var(--primary-color);
    margin-top: 20px;
    margin-left: 20px;
    
}
div.dashboard .widget-year{
    display: flex;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
    margin-right: 20px;
    
}

